extends ../_layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/drawit.js')
  <link href='http://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
block content
  div#mainwrapper
    div#leftpanel
      h1= title
      p Welcome to DrawIt!
      hr
      div.box
        h3.centered Current Players:
        ul#userlist
      div.box
        h3.centered Chat
        form#sendmessageform
          input#message.textbox(placeholder='Message')
          input.button(type='submit',value='Send')
        hr
        ul#chatlist
    div#phrasewindow
      div#choosecategory
        h1 You are up next!
        p
          | To begin, choose a category for the phrase:
      select#categoryselect
        option(value='none') -- Choose A Category --
        each category in categories
          option(value=category) #{category.charAt(0).toUpperCase() + category.slice(1)}
      div#choosephrase
        p Here's your word: 
        h1#phrasepreview
        p 
          | Not feeling it?
          input#pickagain.button(type='button',value='Pick Again')
        p
          | Once you are happy with the word, 
          | and ready to draw it,
          | press the 'Start Timer' button
        input#starttime.button(type='button',value='Start Timer')
    div#drawphrase
      div#phrase
      div#timer
    div#mainpanel
      div#padcover
      canvas#pad(width='1000',height='1000')
  div#loginwrapper
    h1= title
    p Welcome to #{title}
    form#userform
      input#username.textbox(placeholder='Username')
      br
      input#room.textbox(placeholder='Room')
      br
      input.button(type='submit',value="Let's Play")